@{
    ViewData["Title"] = "Booking";
    Layout = "_Layout.cshtml";
}

<style>
    .ejendom_container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .ejendom_header {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: #3D5F8C;
    }
    .ejendom_title {
        color: white;
        font-size: 20px;
        padding-left: 10px;
    }
    .lokale_entry {
        width: 100%;
        height: 50px;
        line-height: 45px;
        background: white;
        border: 1px solid #F1F1F1;
    }
    .lokale_entry p {
        padding-left: 10px;
    }
    .lokale_info {
        display: inline-block;
    }
    .lokale_type {
        width: 150px;
    }
    .lokale_adresse {
        width: 400px;
    }
    .lokale_badevaerelse {
        width: 100px;
    }
    .lokale_koekken {
        width: 100px;
    }
    .lokale_booking {
        width: 200px;
    }
    .lokale_button {
        color: #fff;
        background-color: #3D5F8C;
        border-color: #3D5F8C;
        text-align: right;
    }
    .lokale_entry:hover {
        background: #E6F6FD;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Lokaleoversigt</h1>
</div>
<br/>
<div class="row">
    <div class="ejendom_container">
        <div class="ejendom_header">
            <p class="ejendom_title">Birkevejen 32 - 8700</p>
        </div>
        <div class="lokale_entry">
            <div class="lokale_info lokale_type"><p>Kælderum</p></div>
            <div class="lokale_info lokale_adresse"><p>Birkevejen 32a (kælder)</p></div>
            <div class="lokale_info lokale_badevaerelse"><p>Bv = ja</p></div>
            <div class="lokale_info lokale_koekken"><p>K = nej</p></div>
            <div class="lokale_info lokale_booking">
                <a asp-action="Create">
                    <input type="button" value="Foretag booking" class="lokale_button btn" />
                </a>
            </div>
        </div>
        <div class="lokale_entry">
            <div class="lokale_info lokale_type"><p>Fælleslokale</p></div>
            <div class="lokale_info lokale_adresse"><p>Birkevejen 32b (stue)</p></div>
            <div class="lokale_info lokale_badevaerelse"><p>Bv = ja</p></div>
            <div class="lokale_info lokale_koekken"><p>K = ja</p></div>
            <div class="lokale_info lokale_booking">
                <a asp-action="Create">
                    <input type="button" value="Foretag booking" class="lokale_button btn" />
                </a>
            </div>
        </div>
        <div class="lokale_entry"></div>
    </div>
</div>
