@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Nulstilling af kodeord gennemført";
}

<h1>@ViewData["Title"]</h1>
<p>
    Check din Email for at færdiggøre nulstillingen af dit kodeord!
</p>
