@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Har du glemt dit kodeord?";
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h3 class="text-center">Indtast din email, for at nulstille det</h3>
<hr />
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Nulstil Kodeord</button>
        </form>
    </div>
    <div class="col"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
