@model List<MedarbejderViewModel>
@{
    ViewData["Name"] = "Index";
    Layout = "../_LejerLayout.cshtml";
}
<h1>Oversigt over medarbejdere</h1>
<h2>Her vil der komme oplysninger om medarbejderne tilknyttet ejendommen</h2>