@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Name"] = "Index";
    Layout = "../_LejerLayout.cshtml";
}
<h1>Oversigt over dokumenter</h1>
<h2>Her vil man komme til at kunne se og downloade sine dokumenter</h2>
