@model ComboViewModel
@{
	Layout = "../_BALayout.cshtml";
    ViewData["Name"] = "Create";
}

<h1>Opret</h1>

<h4>Lejemål</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Lejemaal.Husleje" class="control-label"></label>
                <input asp-for="Lejemaal.Husleje" class="form-control"/>
                <span asp-validation-for="Lejemaal.Husleje" class="text-danger"></span>
                <br/>
                <label asp-for="Lejemaal.Adresse" class="control-label"></label>
                <input asp-for="Lejemaal.Adresse" class="form-control"/>
                <span asp-validation-for="Lejemaal.Adresse" class="text-danger"></span>
                <br/>
                <label asp-for="Lejemaal.Etage" class="control-label"></label>
                <input asp-for="Lejemaal.Etage" class="form-control"/>
                <span asp-validation-for="Lejemaal.Etage" class="text-danger"></span>
                <br/>
                <label asp-for="Lejemaal.Areal" class="control-label"></label>
                <input asp-for="Lejemaal.Areal" class="form-control"/>
                <span asp-validation-for="Lejemaal.Areal" class="text-danger"></span>
                <br/>
                <label asp-for="Lejemaal.Koekken" class="control-label"></label>
                <input asp-for="Lejemaal.Koekken">
                <br/>
                <label asp-for="Lejemaal.Badevaerelse" class="control-label"></label>
                <input asp-for="Lejemaal.Badevaerelse" class="form-check-input">
                <br/>
                <select asp-for="Lejemaal.EjendomId" class="form-select" aria-label="Bruh">
                    @*<option selected>Vælg Ejendom</option>*@
                    @foreach (var ejendom in Model.Ejendomme)
                    {
                        <option value="@ejendom.Id">@ejendom.Adresse, @ejendom.Postnr @ejendom.By</option>
                    }
                </select>
            </div>

            
            <br/>

	        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
