@model ComboViewModel
@{
	Layout = "../_BALayout.cshtml";
    ViewData["Name"] = "Create";
}

<h1>Opret</h1>

<h4>Lejemål</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="LejemaalViewModel.Husleje" class="control-label"></label>
                <input asp-for="LejemaalViewModel.Husleje" class="form-control"/>
                <span asp-validation-for="LejemaalViewModel.Husleje" class="text-danger"></span>
                <br/>
                <label asp-for="LejemaalViewModel.Adresse" class="control-label"></label>
                <input asp-for="LejemaalViewModel.Adresse" class="form-control"/>
                <span asp-validation-for="LejemaalViewModel.Adresse" class="text-danger"></span>
                <br/>
                <label asp-for="LejemaalViewModel.Etage" class="control-label"></label>
                <input asp-for="LejemaalViewModel.Etage" class="form-control"/>
                <span asp-validation-for="LejemaalViewModel.Etage" class="text-danger"></span>
                <br/>
                <label asp-for="LejemaalViewModel.Areal" class="control-label"></label>
                <input asp-for="LejemaalViewModel.Areal" class="form-control"/>
                <span asp-validation-for="LejemaalViewModel.Areal" class="text-danger"></span>
                <br/>
                <div>
                    <label asp-for="LejemaalViewModel.Koekken" class="control-label"></label>
                    <input class="form-check-input" type="radio" name="Koekken" id="inlineRadioKoekkenJa" value="true">
                    <label class="form-check-label" for="inlineRadioJa">Ja</label>
                    <input class="form-check-input" type="radio" name="Koekken" id="inlineRadioKoekkenNej" value="false">
                    <label class="form-check-label" for="inlineRadioNej">Nej</label>
                </div>
                <br/>
                <div>
                    <label asp-for="LejemaalViewModel.Badevaerelse" class="control-label"></label>
                    <input class="form-check-input" type="radio" name="Badevaerelse" id="inlineRadioBadevaerelseJa" value="true">
                    <label class="form-check-label" for="inlineRadioJa">Ja</label>
                    <input class="form-check-input" type="radio" name="Badevaerelse" id="inlineRadioBadevaerelseNej" value="false">
                    <label class="form-check-label" for="inlineRadioNej">Nej</label>
                </div>
                <br/>
                <select class="form-select" aria-label="Bruh">
                    <option selected>Vælg Ejendom</option>
                    @foreach (var ejendom in Model.EjendomViewModels)
                    {
                        <label asp-for="LejemaalViewModel.EjendomId"></label>
                        <option value="@ejendom.Id">@ejendom.Adresse, @ejendom.Postnr @ejendom.By</option>
                    }
                </select>
            </div>

            
            <br/>

	        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
