@model BeboerWeb.API.Contract.DTO.LejemaalDTO
@{
	Layout = "../_BALayout.cshtml";
    ViewData["Name"] = "Create";
}

<h1>Opret</h1>

<h4>Lejemål</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Husleje" class="control-label"></label>
                <input asp-for="Husleje" class="form-control"/>
                <span asp-validation-for="Husleje" class="text-danger"></span>

                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control"/>
                <span asp-validation-for="Adresse" class="text-danger"></span>
                
                <label asp-for="Etage" class="control-label"></label>
                <input asp-for="Etage" class="form-control"/>
                <span asp-validation-for="Etage" class="text-danger"></span>

                <label asp-for="Areal" class="control-label"></label>
                <input asp-for="Areal" class="form-control"/>
                <span asp-validation-for="Areal" class="text-danger"></span>

                <div>
                    <label asp-for="Koekken" class="control-label"></label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioKoekkenJa" value="true">
                    <label class="form-check-label" for="inlineRadioJa">Ja</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioKoekkenNej" value="false">
                    <label class="form-check-label" for="inlineRadioNej">Nej</label>
                </div>
                
                <div>
                    <label asp-for="Badevaerelse" class="control-label"></label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioBadevaerelseJa" value="true">
                    <label class="form-check-label" for="inlineRadioJa">Ja</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioBadevaerelseNej" value="false">
                    <label class="form-check-label" for="inlineRadioNej">Nej</label>
                </div>
            </div>



	        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
