@model LejemaalEjendommeViewModel

@{
    ViewData["Name"] = "Edit";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Redigering af lejemål</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="BALejemaal" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lejemaal.Id"/>
            <input type="hidden" asp-for="Lejemaal.RowVersion"/>
            <div class="form-group">
                <label asp-for="Lejemaal.Adresse" class="control-label"></label>
                <span asp-validation-for="Lejemaal.Adresse" class="text-danger"></span>
                <input asp-for="Lejemaal.Adresse" class="form-control"/>
                <br/>
                <label asp-for="Lejemaal.Etage" class="control-label"></label>
                <span asp-validation-for="Lejemaal.Etage" class="text-danger"></span>
                <input asp-for="Lejemaal.Etage" class="form-control"/>
                <br/>
                <label asp-for="Lejemaal.Areal" class="control-label"></label>
                <span asp-validation-for="Lejemaal.Areal" class="text-danger"></span>
                <input asp-for="Lejemaal.Areal" class="form-control"/>
                <br/>
                <label asp-for="Lejemaal.Husleje" class="control-label"></label>
                <span asp-validation-for="Lejemaal.Husleje" class="text-danger"></span>
                <input asp-for="Lejemaal.Husleje" class="form-control"/>
                <br/>
                <input asp-for="Lejemaal.Koekken" class="form-check-input">
                <label asp-for="Lejemaal.Koekken" class="control-label"></label>
                <input asp-for="Lejemaal.Badevaerelse" class="form-check-input">
                <label asp-for="Lejemaal.Badevaerelse" class="control-label"></label>
                <br/>
                <br/>
                <label>Tilknyt til ejendom:</label>
                <select asp-for="Lejemaal.EjendomId" class="form-select">
                    @foreach (var ejendom in Model.Ejendomme)
                    {
                        <option value="@ejendom.Id">@ejendom.Postnr @ejendom.By - @ejendom.Adresse</option>
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary bw_button" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-controller="BALejemaal" asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
