@{
    //if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    //{
    //    if (User.HasClaim("IsBA", "Yes")) Layout = "~/Views/Dashboard/BA/_BALayout.cshtml";
    //    if (User.HasClaim("IsVV", "Yes")) Layout = "~/Views/Dashboard/VV/_VVLayout.cshtml";
    //    if (User.HasClaim("IsLejer", "Yes")) Layout = "~/Views/Dashboard/Lejer/_LejerLayout.cshtml"; 
    //    else Layout = "~/Views/Dashboard/Bruger/_BrugerLayout.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/Dashboard/Bruger/_BrugerLayout.cshtml";
    //}
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Adminstrer din konto</h1>

<div>
    <h2>Ændr dine konto oplysninger</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)



