@using System.Security.Claims
@{

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        if (User.HasClaim("IsBA", "Yes"))
        {
            Layout = "~/Views/Dashboard/BA/_BALayout.cshtml";
        }
        if (User.HasClaim("IsVV", "Yes"))
        {
        //layout          
        }
        if (User.HasClaim("IsLejer", "Yes"))
        {
        //layout          
        }
        //return layout
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
            <partial name="_LoginPartial" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
