@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown bw_dropdown">
        <button class="btn btn-secondary dropdown-toggle bw_button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity?.Name!
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Tilpas oplysninger</a></li>
        <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="ChangeEmail">Skift email</a></li>
            <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="ChangePassword">Skift kodeord</a></li>
        </ul>
    </div>
    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "" })">
        <button  type="submit" class="btn btn-secondary bw_button">Log ud</button>
    </form>
}
