@model List<OpslagViewModel>
@{
    ViewBag.Title = "Boligadministrator";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <h3 class="bw_forside_overskrift">
                Velkommen @User.Identity.Name
            </h3>
            <p>
                Dette er forsiden, har har du muligheder for at komme ind på andre sider ved at trykke på en af knapperne i toppen af skærmen.
            </p>
        </div>
        <div class="col-md-5">
            <h3 class="bw_forside_overskrift">
                Seneste nyheder
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Dato
                    </th>
                    <th>
                        Titel
                    </th>
                    <th>
							
                    </th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < 5; i++)
                {
                    @if (i < Model.Count)
                    {
                        <tr>
                            <td>
                                @Model[i].GetDatoString()
                            </td>
                            <td>
                                @Model[i].Titel
                            </td>
                            <td>
                                <a asp-controller="Opslagstavle" asp-action="Details" asp-route-id="@Model[i].Id">Læs mere</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>