@{
    ViewBag.Title = "Boligadministrator";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Velkommen @ViewBag.BrugerNavn</h1>
</div>
<div>
    <h3 class="dashboard-text">Dette er forsiden, har har du muligheder for at komme ind på andre sider ved at trykke på en af knapperne i toppen af skærmen.</h3>
</div>