@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeboerWeb.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeboerWeb.MVC.styles.css" asp-append-version="true" />
</head>
<body class="Arnold">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">BeboerWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                        </li>
                    </ul>
                    @if (User.HasClaim("IsLejer", "Yes"))
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Lejer
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="LejerLejemaal" asp-action="IndexByLejer">Mine lejemål</a></li>
                                <li><a class="dropdown-item" asp-controller="LejerDokument" asp-action="Index">Mine dokumenter</a></li>
                                <li><a class="dropdown-item" asp-controller="LejerMedarbejder" asp-action="Index">Kontaktoplysninger</a></li>
                                <li><a class="dropdown-item" asp-controller="BALokale" asp-action="Index">Lokaler</a></li>
                            </ul>
                        </div>
                    }
                    @if (User.HasClaim("IsBA", "Yes"))
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="BAPerson" asp-action="Index">Brugere</a></li>
                                <li><a class="dropdown-item" asp-controller="BAEjendom" asp-action="Index">Ejendomme</a></li>
                                <li><a class="dropdown-item" asp-controller="BALejemaal" asp-action="Index">Lejemål</a></li>
                                <li><a class="dropdown-item" asp-controller="BALokale" asp-action="Index">Lokaler</a></li>
                                <li><a class="dropdown-item" asp-controller="BAOpslag" asp-action="Index">Opslag</a></li>
                            </ul>
                        </div>
                    }
                    @if (User.HasClaim("IsVV", "Yes"))
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vicevært
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="VVLejer" asp-action="Index">Brugere</a></li>
                            </ul>
                        </div>
                    }
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
