@model LejerViewModel
@{
	Layout = "../_BALayout.cshtml";
    ViewData["Name"] = "Create";
}

<h1>Opret en ny lejer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span asp-validation-for="LejeperiodeStart" class="text-danger"></span>
                <input asp-for="LejeperiodeStart" type="date" class="form-control"/>
                <br/>
                <span asp-validation-for="LejeperiodeSlut" class="text-danger"></span>
                <input asp-for="LejeperiodeSlut" type="date" class="form-control"/>
                <br/>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
