html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.overskrift {
    font-size: 20px;
    color: #000000;
    }

.dashboard-text {
    font-family: serif; 
}

.unik-logo{
    width:  5%;

}