@using BeboerWeb.API.Contract.DTO
@{
    Layout = "_LejerLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Lejer</h1>
</div>
<div class="body">
    <img class="unik-logo" src="/Pic/uniklogo.png" alt="uniktlogo"/>
    <h1 class="overskrift">Tilhørende lejer</h1>
    <h3 class="dashboard-text">Dette er din forside. Her kan du vælge forskellige funktioner i toppen af skærmen, som vil sende dig videre til forskellige pages, hvor du kan se dine oplysninger.</h3>

</div>
