@{
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<div class="text-center">
    <h1 class="velkommenTaekst">Velkommen @User.Identity.Name</h1>
</div>
<div>
    <h3 class="dashboard-text">Dette er din forside. Her kan du vælge forskellige funktioner i toppen af skærmen, som vil sende dig videre til forskellige pages, hvor du kan se dine oplysninger.</h3>
</div>
